/* app css stylesheet */

body {
    padding-top: 50px;
    color: #fff;
    background: none;
    font-family: 'Open Sans', Arial, Helvetica, Sans-Serif;
}
.full {
    background: url('/static/background.png') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}
input, select, textarea {
    color: #fff;
    background-color: #333;
    font-family: 'Open Sans', Arial, Helvetica, Sans-Serif;
}

.dp {
    color: #333;
    background-color: #fff;
}

.row-with-padding {
    padding-left: 2px;
    padding-right: 2px;
}

.panel-with-margin {
    margin-left: 2px;
    margin-right: 2px;
    margin-bottom: 4px;
}

.jumbotron {
    background: transparent;
}

.jumbotron h1 {
    color: black;
}

.glowtext {
    color: black;
    text-shadow: 0em 0em 1em #FFFFFF, 0em 0em 1em #FFFFFF;
}

.well {
    margin-top: 10px;
    margin-bottom: 0px;
    color: white;
    background: rgba(0, 0, 0, 0.5);
}

.datecolumn {
    padding-left: 2px;
    padding-right: 2px;
}

.custom_centered {
    text-align: center;
}

.col-xs-7ths,
.col-sm-7ths,
.col-md-7ths,
.col-lg-7ths {
    position: relative;
    min-height: 1px;
    padding-right: 5px;
    padding-left: 5px;
}

.col-xs-7ths {
    width: 13%;
    float: left;
}

@media (min-width: 768px) {
    .col-sm-7ths {
        width: 13%;
        float: left;
    }
}

@media (min-width: 992px) {
    .col-md-7ths {
        width: 13%;
        float: left;
    }
}

@media (min-width: 1200px) {
    .col-lg-7ths {
        width: 13%;
        float: left;
    }
}
