<!-- extend from base layout -->
{% extends "base.html" %}

{% block content %}

<div class="container-full">

    <div class="container jumbotron">
        <div class="row">
            <div class="col-lg-8">
                <div class="page-header">
                    <h2 class="glowtext">
                        Calendar/
                        <a href="?year={{year}}&month={{month}}">
                            {{month_name}}
                        </a>
                        /{{day}}
                    </h2>
                </div>
            </div>
        </div>
    </div>

    <table class="table table-stripped table-responsive shadow-font">
        <thead>
            <th>Event</th>
            <th>Date</th>
            <th>Author</th>
            <th width="10"></th>
        </thead>
        <tbody>
            {% for event in day_and_events %}
            <tr>
                <td><p>{{event.name}}</p></td>
                <td><p>{{event.event_date.strftime('%H:%M')}}</p></td>
                <td><p>{{event.creator.username}}</p></td>

                <td>
                    {% if not current_user.is_anonymous %}
                        {% if event.id in current_user.subscription_ids %}
                            <p>
                                <button type="submit" class="btn btn-default btn-xs btn-success">
                                    <span class="glyphicon glyphicon-check" aria-hidden="true" />
                                </button>
                            </p>
                        {% else %}
                            <form action="#" method="post">
                                <input type="hidden" name="subscribe" value="{{event.id}}">
                                <input type="hidden" name="next" value="/calendar?year={{year}}&month={{month}}&day={{day}}">
                                <p>
                                    <button type="submit" class="btn btn-default btn-xs btn-success">
                                        <span class="glyphicon glyphicon-plus" aria-hidden="true" />
                                        Subscribe
                                    </button>
                                </p>
                            </form>
                        {% endif %}
                    {% endif %}
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

</div>

{% endblock %}
