 <!-- extend from base layout -->
{% extends "base.html" %}

{% block content %}

<div class="container-full">

    <div class="container jumbotron">
        <div class="page-header">
            <h2 class="shadow-font">
                Calendar/{{month_name}}
            </h2>
        </div>
    </div>

    <div class="container">
        <div class="row">
            {% for day_name,_,_,_,_ in month_and_events[0] %}
                <div class="col-md-7ths col-sm-7ths col-lg-7ths col-xs-4 gridbox-padding">
                    <div class="panel panel-no-margin bg-transparent shadow-font">
                        {{day_name}}
                    </div>
                </div>
            {% endfor %}
        </div>

        {% for week in month_and_events %}
            <div class="row">
                {% for day_name,day,some_events,created,subscribed in week %}
                    <div class="col-md-7ths col-sm-7ths col-lg-7ths col-xs-4 gridbox-padding">
                    {% if subscribed %}
                        <div class="panel no-margin bg-green">
                    {% elif created %}
                        <div class="panel no-margin bg-yellow">
                    {% elif some_events %}
                        <div class="panel no-margin bg-light-grey">
                    {% else %}
                        <div class="panel no-margin bg-dark-grey">
                    {% endif %}
                            <a href="?year={{day.year}}&month={{day.month}}&day={{day.day}}">
                                <div class="row small-padding-no-hmargin">
                                    <div class="col-xs-6 small-padding-no-hmargin">
                                        <div class="row small-padding-no-hmargin shadow-font">{{day.strftime('%Y')}}</div>
                                        <div class="row small-padding-no-hmargin shadow-font">{{day.strftime('%m')}}</div>
                                    </div>
                                    <div class="col-xs-6 h2 small-padding-no-hmargin shadow-font">
                                        {{day.strftime('%d')}}
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>
                {% endfor %}
            </div>
        {% endfor %}

    </div>
</div>

{% endblock %}
