<!-- extend from base layout -->
{% extends "base.html" %}

{% block content %}

<div class="container">
    <div class="row">

        <!-- EVENT INFO BLOCK -->
        {% if is_subscribed %}
        <div class="col-md-7">
        {% else %}
        <div class="col-md-12">
        {% endif %}
            <div class="well">
                <div class="page-header">
                    <h2 class="shadow-font">
                        Event/{{event_form.name.data}}
                    </h2>
                </div>

                <!-- USER IS OWNER -->
                {% if current_user.id == event_form.creatorid %}

                    <!-- EVENT INFO -->
                    <form action="/edit_event" method="post" class="form-horizontal">
                       {{ event_form.hidden_tag() }}
                       <fieldset>

                           <!-- EVENT NAME -->
                           <div class="form-group">
                               <label for="name" class="control-label col-xs-6">
                                   Name
                               </label>
                               <div class="col-xs-6">
                                   {{ event_form.name() }}
                               </div>
                           </div>

                           <!-- EVENT DATE -->
                           <div class="form-group">
                               <label for="date" class="control-label col-xs-6">
                                   Date
                               </label>
                               <div class="col-xs-6">
                                   {{ event_form.date() }}
                               </div>
                           </div>

                           <!-- EVENT TIME -->
                           <div class="form-group">
                               <label for="time" class="control-label col-xs-6">
                                   Time
                               </label>
                               <div class="col-xs-6">
                                   {{ event_form.time() }}
                               </div>
                           </div>

                           <!-- TIME LEFT -->
                           <div class="form-group">
                               <label for="timeleft" class="control-label col-xs-6">
                                   Time left
                               </label>
                               <div class="col-xs-6">
                                   {{ event_form.timeleft }}
                               </div>
                           </div>

                           <!-- DESCRIPTION BLOCK -->
                           <div class="form-group form-group-full">
                               {{ event_form.description() }}
                           </div>

                           <!-- SUBMIT BUTTON -->
                           <div class="form-group">
                               <div class="col-xs-offset-6 col-xs-6">
                                   <button type="submit" class="btn btn-primary">
                                       Update event
                                   </button>
                               </div>
                           </div>
                       </fieldset>
                    </form>
                    <!-- /EVENT INFO -->

                {% else %} <!-- USER IS NOT OWNER -->

                    <!-- EVENT INFO -->
                    <form action="#" method="get" class="form-horizontal">
                       <fieldset>

                           <!-- EVENT DATE -->
                           <div class="form-group">
                               <label for="eventdate" class="control-label col-xs-6">
                                   Start time
                               </label>
                               <div class="col-xs-6">
                                   {{ event_form.starttime.data }}
                               </div>
                           </div>

                           <!-- TIME LEFT -->
                           <div class="form-group">
                               <label for="timeleft" class="control-label col-xs-6">
                                   Time left
                               </label>
                               <div class="col-xs-6">
                                   {{ event_form.timeleft }}
                               </div>
                           </div>

                           <!-- DESCRIPTION BLOCK -->
                           <p>{{ event_form.eventdescr.data }}</p>
                       </fieldset>
                    </form>
                    <!-- /EVENT INFO -->

                {% endif %} <!-- WHETHER USER IS OWNER -->

            </div>
        </div>

        <!-- SUBSCRIBERS SIDE BAR -->
        {% if is_subscribed %}
        <div class="col-md-5">
            <div class="well">

                <p><h3 class="shadow-font">Subscribers</h3></p>

                <!-- FOREACH SUBSCRIPTION -->
                {% for subscription in subscriptions %}
                    <div class="panel panel-default panel-50alpha">
                        <div class="panel-heading">
                            <b>{{subscription.user.username}}</b>
                        </div>

                        <!-- PANEL BODY -->
                        <div class="panel-body">

                            {% if subscription.user_id == current_user.id %} <!-- IF USER IS SUBSCRIBER -->

                                {% set subscription_form = make_subscription_form(subscription) %}
                                <form action="/edit_subscription" method="post" class="form-horizontal">
                                   {{ subscription_form.hidden_tag() }}
                                   <fieldset>
                                       <div class="form-group form-group-full">
                                           {{ subscription_form.comment() }}
                                       </div>
                                       <div class="form-group">
                                           <label for="commitment" class="control-label col-xs-6">
                                               Commitment
                                           </label>
                                           <div class="col-xs-6">
                                               {{ subscription_form.commitment() }}
                                           </div>
                                       </div>
                                       <div class="form-group">
                                           <div class="col-xs-offset-6 col-xs-6">
                                               <button type="submit" class="btn btn-primary">
                                                   Update
                                               </button>
                                           </div>
                                       </div>
                                   </fieldset>
                               </form>

                            {% else %} <!-- IF USER IS NOT SUBSCRIBER -->

                                <div class="form-horizontal">
                                    <div class="form-group">
                                        <label class="control-label col-xs-6">
                                            Commitment
                                        </label>
                                        <div class="col-xs-6">
                                            {{ subscription.commitment }}
                                        </div>
                                    </div>

                                    <!-- IF DESCRIPTION IS NOT EMPTY -->
                                    {% if subscription.comment %}
                                        <p>{{ subscription.comment }}</p>
                                    {% endif %}
                                </div>
                            {% endif %}

                        </div>
                        <!-- /PANEL BODY -->

                    </div>
                {% endfor %}
                <!-- /FOREACH SUBSCRIPTION -->

            </div>
        </div>
        {% endif %}
        <!-- /SUBSCRIBERS SIDE BAR -->

    </div>
</div>



{% endblock %}
