<!-- extend from base layout -->
{% extends "base.html" %}

{% block content %}

<div class="container">
    <div class="row">
        <div class="col-md-7">
            <div class="well">
                <div class="page-header">
                    <h2 class="shadow-font" width="50%">
                        Event/{{event_form.eventname.data}}
                    </h2>
                </div>

                <form action="/event" method="post" class="form-horizontal">
                   {{ event_form.hidden_tag() }}
                   <fieldset>
                       <div class="form-group">
                           <label for="eventname" class="control-label col-xs-6">
                               Event name
                           </label>
                           <div class="col-xs-6">
                               {{ event_form.eventname() }}
                           </div>
                       </div>
                       <div class="form-group">
                           <label for="eventdate" class="control-label col-xs-6">
                               Start time
                           </label>
                           <div class="col-xs-6">
                               {{ event_form.starttime() }}
                           </div>
                       </div>
                       <div class="form-group">
                           <label for="eventdate" class="control-label col-xs-6">
                               Time left
                           </label>
                           <div class="col-xs-6">
                               {{ event_form.timeleft(disabled=True) }}
                           </div>
                       </div>
                       <div class="form-group form-group-full">
                           {{ event_form.eventdescr() }}
                       </div>
                       <div class="form-group">
                           <div class="col-xs-offset-6 col-xs-6">
                               <button type="submit" class="btn btn-primary">
                                   Update event
                               </button>
                           </div>
                       </div>
                   </fieldset>
                </form>
            </div>
        </div>
        <div class="col-md-5">
            <div class="well">

                <p><h3 class="shadow-font">Subscribers</h3></p>

                {% for subscription in subscriptions %}
                    <div class="panel panel-default panel-subscription">
                        <div class="panel-heading"><b>{{subscription.user.username}}</b></div>
                        {% if subscription.user_id == current_user.id %}
                            {% set subscription_form = make_subscription_form(subscription) %}
                            <div class="panel-body">
                                <form action="/edit_subscription" method="post" class="form-horizontal">
                                   {{ subscription_form.hidden_tag() }}
                                   <fieldset>
                                       <div class="form-group form-group-full">
                                           {{ subscription_form.comment() }}
                                       </div>
                                       <div class="form-group">
                                           <label for="commitment" class="control-label col-xs-6">
                                               Commitment
                                           </label>
                                           <div class="col-xs-6">
                                               {{ subscription_form.commitment() }}
                                           </div>
                                       </div>
                                       <div class="form-group">
                                           <div class="col-xs-offset-6 col-xs-6">
                                               <button type="submit" class="btn btn-primary">
                                                   Update
                                               </button>
                                           </div>
                                       </div>
                                   </fieldset>
                               </form>
                           </div>

                        {% else %}
                            {% if subscription.comment %}
                                <div class="panel-body">
                                    <div class="form-horizontal">
                                        <div class="form-group">
                                            <label class="control-label col-xs-6">
                                                Commitment
                                            </label>
                                            <div class="col-xs-6">
                                                {{ subscription.commitment }}
                                            </div>
                                        </div>
                                        <p>{{ subscription.comment }}</p>
                                    </div>
                                </div>
                            {% endif %}
                        {% endif %}
                    </div>
                {% endfor %}

            </div>
        </div>
    </div>
</div>



{% endblock %}
