<!-- extend from base layout -->
{% extends "base.html" %}

{% block content %}

<div class="container-full">

    <div class="container jumbotron">
        <div class="row">
            <div class="col-lg-8">
                <div class="page-header">
                    <h2 class="shadow-font">
                        Your Subscriptions
                    </h2>
                </div>
            </div>
        </div>
    </div>

    <table class="table table-stripped table-responsive shadow-font">
        <thead>
            <th><b>Event</b></th>
            <th width="100"><b>Date</b></th>
            <th width="300"><b>Remaining</b></th>
            <th><b>Description</b></th>
            <th width="100"><b>Author</b></th>
        </thead>
        <tbody>
            {% for event in events %}
                <tr>
                    <td><p>{{event.name}}</p></td>
                    <td><p>
                        {{event.event_date.strftime('%Y-%m-%d')}}<br>
                        {{event.event_date.strftime('%H:%M')}}
                    </p></td>
                    <td><p>{{event.remaining_time}}</p></td>
                    <td><p>{{event.description}}</p></td>
                    <td><p>{{event.creator.username}}</p></td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

</div>

{% endblock %}
