<!-- extend from base layout -->
{% extends "base.html" %}

{% block content %}

<div class="container-full">

    <div class="container jumbotron">
        <div class="page-header">
            <h2 class="glowtext">
                Calendar/{{month_name}}
            </h2>
        </div>
    </div>

    <div class="container">
        {% for week in month_and_events %}
            <div class="row">
                {% for day_name,day in week %}
                    <div class="col-md-7ths col-sm-7ths col-lg-7ths col-xs-3 panel panel-with-margin">
                        <a href="?year={{day.year}}&month={{day.month}}&day={{day.day}}">
                            <div class="row-with-padding">
                                {{day_name}}
                            </div>
                            <div class="row-with-padding">
                                {{day.strftime('%Y-%m-%d')}}
                            </div>
                        </a>
                    </div>
                {% endfor %}
            </div>
        {% endfor %}

    </div>
</div>

{% endblock %}
